*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white: #fafafb;
    --orange:#c169df;
    --blue-light:#8daac9;
    --blue-dark:#ff6ae6;
    --green:#9ff3f9;
}

body{
    background: linear-gradient(to bottom,var(--orange),var(--blue-light));
    height: 100vh;
    font-family: 'Special Gothic Condensed One';
}

.container{
    max-width: 80%;
    width: 400px;
    height: 600px;
    margin: 0 auto;


}


.perfil h1{
    color: var(--white);

}
.perfil span{
    color: var(--white);
    letter-spacing: 1px;
}
#fecha{
    color: var(--white);
    padding: 50PX 0 5PX 0PX;
}
.agregar-tareas{
    background-color: var(--white);
    border-radius: 15px;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 10px;
    margin: 40px 0;
}
.agregar-tareas input{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    background-color: var(--white);
    padding-left: 10px;
}
.agregar-tareas input:placeholder{
    font-size: 1.1rem;
    color:var(--purple);


}
.agregar-tareas i{
    font-size: 50px;
    color: var(--purple);


}
.agregar-tareas i:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.agregar-tareas {
    background-color: var(--white);
    border-radius: 15px;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 10px;
    margin: 40px 0;
}
.agregar-tareas input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    background-color: var(--white);
    padding-left: 10px;
}
.agregar-tareas input::placeholder {
    font-size: 1.1rem;
    color: var(--purple);
}
.agregar-tareas i{
    font-size: 50px;
    color: var(--purple);
}
.agregar-tareas i:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.seccion-tareas h3 {
    color: var(--white);
    margin-bottom: 20px;
}
.seccion-tareas li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, var(--blue-dark), var(--green));
    border-radius: 15px;
    padding: 10px;
    color: var(--white);
    margin: 5px 0;
}
.seccion-tareas i {
    font-size: 25px;
}
.seccion-tareas > ul p {
        font-size: 1.2rem;
}
.seccion-tareas i:hover {
    color: var(--blue-light);
    cursor: pointer;
}
.line-through{
    text-decoration: line-through;
    color: var(--blue-light);
}

